<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>773463782901-mnevoumrgtf0nc2lgp2e86k2gf0e5pc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773463782901-mnevoumrgtf0nc2lgp2e86k2gf0e5pc1</string>
	<key>API_KEY</key>
	<string>AIzaSyCig0qP-XukvuWm5nooazT_9oCgs9IYCpo</string>
	<key>GCM_SENDER_ID</key>
	<string>773463782901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benmakusha.social-showcase</string>
	<key>PROJECT_ID</key>
	<string>social-showcase-272d2</string>
	<key>STORAGE_BUCKET</key>
	<string>social-showcase-272d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:773463782901:ios:83269c94b49a253a</string>
	<key>DATABASE_URL</key>
	<string>https://social-showcase-272d2.firebaseio.com</string>
</dict>
</plist>